<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzb.staff.mapper.ContractMapper">
    <select id="pageListQuery" parameterType="com.gzb.staff.entity.vo.ContractQueryVo" resultType="com.gzb.staff.entity.Contract">
        select co.id,co.name,co.start_time,co.end_time,co.photo,cl.name as clerk_id
        from contract as co,clerk as cl where co.is_deleted = 0 and co.clerk_id = cl.id
        <if test="contractQueryVo.name != null">
            and co.name like '%${contractQueryVo.name}%'
        </if>
        <if test="contractQueryVo.clerkName != null">
            and cl.name like '%${contractQueryVo.clerkName}%'
        </if>
        <if test="contractQueryVo.endTime != null">
            and co.end_time &lt;= #{contractQueryVo.endTime}
        </if>
        <if test="contractQueryVo.startTime != null">
            and co.start_time &gt;= #{contractQueryVo.startTime}
        </if>

    </select>
</mapper>
